<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
            <div class="container-xl">
            <a class="navbar-brand" href="/">
                <svg height="40px" width="180px"><use xlink:href="#awesome_media_logo_negative"/></svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07XL">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <template v-for="nav in navigation">
                        <template v-if="!nav.subnav">
                            <li :key="nav.name">
                              <router-link :to="{ name: nav.routerName }" class="nav-link">
                                {{ nav.name }}
                              </router-link>
                              <!-- <a class="nav-link" href="#">{{ nav.name }}</a> -->
                            </li>
                        </template>

                        <template v-if="nav.subnav">
                            <li v-if="nav.subnav" class="nav-item dropdown" :key="nav.name">
                                <a class="nav-link dropdown-toggle" href="#" :id="nav.subid" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ nav.name }}
                                </a>
                                <ul class="dropdown-menu" :aria-labelledby="nav.subid">
                                    <li v-for="sub in nav.subnav" :key="sub.name">
                                        <router-link :to="{ name: sub.routerName }" class="dropdown-item">
                                          {{ sub.name }}
                                        </router-link>
                                    </li>
                                </ul>
                            </li>
                        </template>
                    </template>
                </ul>

                <div class="listen-status yellow transparant">Verbinden...</div>
            </div>
            </div>
        </nav>

        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li></li>
            </ul>
            </header>
        </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      navigation: [
        {
          name: 'Home',
          routerName: 'HomePage'
          // url: '/'
        },
        {
          name: 'Stemherkenning',
          subid: 'stemherkenningSubmenu',
          subnav: [
            {
              name: 'Trefwoorden',
              // url: '/voice/commands'
              routerName: 'VoiceFunctionsPage'
            },
            {
              name: 'Notities',
              url: '/voice/notes'
            },
            {
              name: 'Log',
              url: '/voice/log'
            }
          ]
        },
        {
          name: 'Afstandsbedieningen',
          subid: 'afstandsbedieningenSubmenu',
          subnav: [
            {
              name: 'Muis',
              url: '/remote/mouse'
            }
          ]
        },
        {
          name: 'Movies',
          routerName: 'MoviesPage'
        },
        {
          name: 'Torrents',
          subnav: [
            {
              name: 'Downloads',
              url: '/torrent/downloads'
            },
            {
              name: 'Zoeken',
              url: '/torrent/search'
            }
          ]
        },
        {
          name: 'Status',
          routerName: 'StatusPage'
        },
        {
          name: 'Login',
          routerName: 'LoginPage'
        }
      ]
    }
  }
}
</script>
