<template>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="awesome_media_logo_negative" viewBox="0 0 599.561 134.677">
    <g id="Laag_1">
      <g>
        <path fill="#FFFFFF" d="M69.207,52.614l-38.893-0.009l5.342-18.629c1.303-5.081,2.736-11.725,3.908-16.937h0.391
          c1.303,5.081,2.866,11.726,4.299,16.937l3.539,12.049h19.37L53.504,2.188H27.578L0.741,89.996h20.584l6.123-22.538h25.274
          l6.774,22.538h21.366L69.207,52.614z"/>
        <path fill="#FFFFFF" d="M98.973,89.996L78.128,2.188h21.236l6.644,36.088c1.954,10.553,3.778,21.886,5.211,30.875h0.26
          c1.433-9.641,3.518-20.193,5.732-31.136l7.426-35.827h21.105l7.035,37c1.954,10.292,3.387,19.671,4.69,29.442h0.261
          c1.303-9.771,3.257-20.062,5.081-30.615l7.166-35.827h20.193L167.5,89.996h-21.497l-7.426-37.781
          c-1.693-8.858-3.126-17.066-4.169-27.097h-0.26c-1.563,9.901-2.997,18.239-5.081,27.097l-8.338,37.781H98.973z"/>
        <path fill="#FFFFFF" d="M252.703,52.866h-32.309V73.71h36.087v16.285h-55.89V2.188h54.066v16.285h-34.264v18.239h32.309V52.866z"
          />
        <path fill="#29B1E6" d="M270.684,69.672c5.211,2.735,13.549,5.472,22.017,5.472c9.12,0,13.939-3.778,13.939-9.641
          c0-5.342-4.169-8.599-14.721-12.247c-14.591-5.21-24.232-13.288-24.232-26.185c0-14.982,12.637-26.316,33.222-26.316
          c10.031,0,17.196,1.954,22.407,4.43l-4.429,15.894c-3.388-1.693-9.771-4.169-18.239-4.169c-8.599,0-12.768,4.039-12.768,8.468
          c0,5.603,4.82,8.078,16.285,12.508c15.503,5.731,22.67,13.809,22.67,26.316c0,14.721-11.205,27.228-35.307,27.228
          c-10.032,0-19.933-2.735-24.883-5.472L270.684,69.672z"/>
        <path fill="#29B1E6" d="M379.079,0.755c-25.795,0-42.731,19.672-42.731,45.988c0,24.207,14.398,43.409,38.824,44.623v-15.98
          c-11.317-1.938-17.979-14.02-17.979-29.163c0-16.416,7.687-29.704,21.366-29.704s21.105,13.549,21.105,29.313
          c0,15.79-6.484,27.727-17.932,29.576v15.869c23.471-1.705,39.036-18.689,39.036-46.096
          C420.769,20.948,406.048,0.755,379.079,0.755z"/>
        <path fill="#29B1E6" d="M508.058,56.383c-0.391-10.552-0.781-23.189-0.781-36.086h-0.261c-2.866,11.204-6.514,23.711-9.901,34.002
          l-10.683,34.264h-15.503l-9.381-33.873c-2.866-10.422-5.732-22.798-7.946-34.393h-0.261c-0.391,11.855-0.912,25.404-1.434,36.347
          l-1.693,33.352h-18.369l5.602-87.808h26.447l8.598,29.443c2.866,10.031,5.473,20.974,7.427,31.267h0.521
          c2.346-10.162,5.342-21.626,8.338-31.528l9.25-29.183h26.056l4.69,87.808h-19.281L508.058,56.383z"/>
        <path fill="#29B1E6" d="M596.26,52.866h-32.31V73.71h36.087v16.285h-55.89V2.188h54.066v16.285H563.95v18.239h32.31V52.866z"/>
      </g>
      <g>
        <path fill="#FFFFFF" d="M301.885,122.709c-0.277-3.647-0.611-8.071-0.611-11.292h-0.111c-1.335,3.026-2.836,6.325-4.728,9.934
          l-6.619,12.688h-3.671l-6.118-12.456c-1.78-3.725-3.226-7.062-4.282-10.166h-0.111c-0.111,3.26-0.389,7.605-0.723,11.563
          l-1.001,11.214h-4.616l2.614-26.153h6.174l6.396,12.649c1.557,3.221,2.781,6.093,3.782,8.809h0.111
          c1.001-2.639,2.336-5.51,4.005-8.809l6.674-12.649h6.173l2.337,26.153h-4.783L301.885,122.709z"/>
        <path fill="#FFFFFF" d="M378.863,121.933h-14.517v9.429h16.241v2.833h-21.136v-26.153h20.301v2.833h-15.406v8.265h14.517V121.933z
          "/>
        <path fill="#FFFFFF" d="M431.31,108.391c3.004-0.311,6.508-0.544,10.346-0.544c6.952,0,11.902,1.087,15.184,3.221
          c3.393,2.135,5.339,5.2,5.339,9.43c0,4.269-1.946,7.761-5.395,10.166c-3.56,2.444-9.344,3.764-16.63,3.764
          c-3.504,0-6.341-0.077-8.844-0.31V108.391z M436.204,131.556c1.224,0.155,3.004,0.155,4.895,0.155
          c10.346,0.039,15.963-4.035,15.963-11.098c0.056-6.247-4.95-10.089-15.184-10.089c-2.503,0-4.395,0.155-5.674,0.35V131.556z"/>
        <path fill="#FFFFFF" d="M517.74,108.042v26.153h-4.895v-26.153H517.74z"/>
        <path fill="#FFFFFF" d="M576.751,125.968l-3.893,8.227h-5.006l12.736-26.153h5.84l12.792,26.153h-5.172l-4.005-8.227H576.751z
          M589.043,123.33l-3.727-7.527c-0.778-1.707-1.335-3.26-1.891-4.772h-0.167c-0.501,1.513-1.112,3.143-1.836,4.733l-3.671,7.566
          H589.043z"/>
      </g>
      <g opacity="0.2">
        <path fill="#FFFFFF" d="M507.017,20.297c-0.298,1.163-0.608,2.347-0.922,3.534c0.399-0.048,0.796-0.097,1.194-0.145
          c-0.006-1.128-0.013-2.256-0.013-3.39H507.017z"/>
        <path fill="#FFFFFF" d="M453.341,20.297c-0.101,3.059-0.211,6.232-0.326,9.443c0.815-0.084,1.631-0.168,2.444-0.252
          c-0.655-3.084-1.278-6.165-1.856-9.191H453.341z"/>
      </g>
    </g>
    <g id="glow">
      <path opacity="0.3" fill="#FFFFFF" d="M287.881,25.389c0-4.43,4.169-8.469,12.768-8.469c8.466,0,14.851,2.477,18.238,4.17
        l4.43-15.895c-5.211-2.475-12.377-4.43-22.408-4.43c-20.584,0-33.221,11.334-33.221,26.316c0,6.902,2.781,12.412,7.583,16.852
        c12.516-0.746,24.882-1.531,37.091-2.354c-2.418-1.329-5.139-2.554-8.195-3.684C292.701,33.467,287.881,30.99,287.881,25.389z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M379.079,0.766c-23.491,0-39.629,16.318-42.325,39.109
        c7.087-0.515,14.112-1.044,21.084-1.585c2.107-12.552,9.337-21.76,20.722-21.76c10.367,0,17.139,7.784,19.812,18.414
        c7.091-0.621,14.121-1.254,21.072-1.902C415.285,14.569,401.372,0.766,379.079,0.766z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M463.894,2.199h-26.447l-1.869,29.3c5.865-0.573,11.679-1.156,17.438-1.748
        c0.115-3.211,0.226-6.384,0.326-9.443h0.262c0.578,3.026,1.201,6.106,1.856,9.191c5.351-0.554,10.658-1.116,15.914-1.687
        L463.894,2.199z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M498.026,2.199l-7.438,23.466c5.22-0.599,10.39-1.207,15.507-1.822
        c0.313-1.188,0.624-2.371,0.922-3.534h0.26c0,1.134,0.007,2.261,0.013,3.39c6.014-0.726,11.956-1.463,17.824-2.211l-1.03-19.288
        H498.026z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M598.214,2.199h-54.066v16.79c18.867-2.551,36.905-5.218,54.066-7.992V2.199z"/>
    </g>
  </symbol>

  <symbol id="awesome_media_logo" viewBox="0 0 599.561 134.677">
    <g id="Laag_1">
      <g>
        <path fill="#0C0E0F" d="M69.207,52.614l-38.893-0.009l5.342-18.629c1.303-5.081,2.736-11.725,3.908-16.937h0.391
          c1.303,5.081,2.866,11.726,4.299,16.937l3.539,12.049h19.37L53.504,2.188H27.578L0.741,89.996h20.584l6.123-22.538h25.274
          l6.774,22.538h21.366L69.207,52.614z"/>
        <path fill="#0C0E0F" d="M98.973,89.996L78.128,2.188h21.236l6.644,36.088c1.954,10.553,3.778,21.886,5.211,30.875h0.26
          c1.433-9.641,3.518-20.193,5.732-31.136l7.426-35.827h21.105l7.035,37c1.954,10.292,3.387,19.671,4.69,29.442h0.261
          c1.303-9.771,3.257-20.062,5.081-30.615l7.166-35.827h20.193L167.5,89.996h-21.497l-7.426-37.781
          c-1.693-8.858-3.126-17.066-4.169-27.097h-0.26c-1.563,9.901-2.997,18.239-5.081,27.097l-8.338,37.781H98.973z"/>
        <path fill="#0C0E0F" d="M252.703,52.866h-32.309V73.71h36.087v16.285h-55.89V2.188h54.066v16.285h-34.264v18.239h32.309V52.866z"
          />
        <path fill="#29B1E6" d="M270.684,69.672c5.211,2.735,13.549,5.472,22.017,5.472c9.12,0,13.939-3.778,13.939-9.641
          c0-5.342-4.169-8.599-14.721-12.247c-14.591-5.21-24.232-13.288-24.232-26.185c0-14.982,12.637-26.316,33.222-26.316
          c10.031,0,17.196,1.954,22.407,4.43l-4.429,15.894c-3.388-1.693-9.771-4.169-18.239-4.169c-8.599,0-12.768,4.039-12.768,8.468
          c0,5.603,4.82,8.078,16.285,12.508c15.503,5.731,22.67,13.809,22.67,26.316c0,14.721-11.205,27.228-35.307,27.228
          c-10.032,0-19.933-2.735-24.883-5.472L270.684,69.672z"/>
        <path fill="#29B1E6" d="M379.079,0.755c-25.795,0-42.731,19.672-42.731,45.988c0,24.207,14.398,43.409,38.824,44.623v-15.98
          c-11.317-1.938-17.979-14.02-17.979-29.163c0-16.416,7.687-29.704,21.366-29.704s21.105,13.549,21.105,29.313
          c0,15.79-6.484,27.727-17.932,29.576v15.869c23.471-1.705,39.036-18.689,39.036-46.096
          C420.769,20.948,406.048,0.755,379.079,0.755z"/>
        <path fill="#29B1E6" d="M508.058,56.383c-0.391-10.552-0.781-23.189-0.781-36.086h-0.261c-2.866,11.204-6.514,23.711-9.901,34.002
          l-10.683,34.264h-15.503l-9.381-33.873c-2.866-10.422-5.732-22.798-7.946-34.393h-0.261c-0.391,11.855-0.912,25.404-1.434,36.347
          l-1.693,33.352h-18.369l5.602-87.808h26.447l8.598,29.443c2.866,10.031,5.473,20.974,7.427,31.267h0.521
          c2.346-10.162,5.342-21.626,8.338-31.528l9.25-29.183h26.056l4.69,87.808h-19.281L508.058,56.383z"/>
        <path fill="#29B1E6" d="M596.26,52.866h-32.31V73.71h36.087v16.285h-55.89V2.188h54.066v16.285H563.95v18.239h32.31V52.866z"/>
      </g>
      <g>
        <path fill="#0C0E0F" d="M301.885,122.709c-0.277-3.647-0.611-8.071-0.611-11.292h-0.111c-1.335,3.026-2.836,6.325-4.728,9.934
          l-6.619,12.688h-3.671l-6.118-12.456c-1.78-3.725-3.226-7.062-4.282-10.166h-0.111c-0.111,3.26-0.389,7.605-0.723,11.563
          l-1.001,11.214h-4.616l2.614-26.153h6.174l6.396,12.649c1.557,3.221,2.781,6.093,3.782,8.809h0.111
          c1.001-2.639,2.336-5.51,4.005-8.809l6.674-12.649h6.173l2.337,26.153h-4.783L301.885,122.709z"/>
        <path fill="#0C0E0F" d="M378.863,121.933h-14.517v9.429h16.241v2.833h-21.136v-26.153h20.301v2.833h-15.406v8.265h14.517V121.933z
          "/>
        <path fill="#0C0E0F" d="M431.31,108.391c3.004-0.311,6.508-0.544,10.346-0.544c6.952,0,11.902,1.087,15.184,3.221
          c3.393,2.135,5.339,5.2,5.339,9.43c0,4.269-1.946,7.761-5.395,10.166c-3.56,2.444-9.344,3.764-16.63,3.764
          c-3.504,0-6.341-0.077-8.844-0.31V108.391z M436.204,131.556c1.224,0.155,3.004,0.155,4.895,0.155
          c10.346,0.039,15.963-4.035,15.963-11.098c0.056-6.247-4.95-10.089-15.184-10.089c-2.503,0-4.395,0.155-5.674,0.35V131.556z"/>
        <path fill="#0C0E0F" d="M517.74,108.042v26.153h-4.895v-26.153H517.74z"/>
        <path fill="#0C0E0F" d="M576.751,125.968l-3.893,8.227h-5.006l12.736-26.153h5.84l12.792,26.153h-5.172l-4.005-8.227H576.751z
          M589.043,123.33l-3.727-7.527c-0.778-1.707-1.335-3.26-1.891-4.772h-0.167c-0.501,1.513-1.112,3.143-1.836,4.733l-3.671,7.566
          H589.043z"/>
      </g>
      <g opacity="0.2">
        <path fill="#FFFFFF" d="M507.017,20.297c-0.298,1.163-0.608,2.347-0.922,3.534c0.399-0.048,0.796-0.097,1.194-0.145
          c-0.006-1.128-0.013-2.256-0.013-3.39H507.017z"/>
        <path fill="#FFFFFF" d="M453.341,20.297c-0.101,3.059-0.211,6.232-0.326,9.443c0.815-0.084,1.631-0.168,2.444-0.252
          c-0.655-3.084-1.278-6.165-1.856-9.191H453.341z"/>
      </g>
    </g>
    <g id="glow">
      <path opacity="0.3" fill="#FFFFFF" d="M35.656,33.986c1.303-5.08,2.736-11.725,3.908-16.936h0.391
        c1.303,5.08,2.866,11.725,4.299,16.936l3.539,12.05h19.37L53.504,2.199H27.579L11.957,53.313
        c13.799-0.187,18.358-0.696,18.358-0.696L35.656,33.986z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M106.008,38.287L99.364,2.199H78.128l11.768,49.573c6.157-0.161,12.289-0.331,18.4-0.509
        C107.566,46.946,106.799,42.555,106.008,38.287z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M152.779,39.199l-7.035-37h-21.105l-7.426,35.826c-0.896,4.428-1.768,8.787-2.587,13.052
        c4.954-0.149,9.888-0.307,14.811-0.467c1.885-8.264,3.245-16.186,4.713-25.481h0.26c0.967,9.305,2.273,17.046,3.808,25.188
        c5.499-0.188,10.979-0.383,16.437-0.585C154.081,46.294,153.463,42.804,152.779,39.199z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M169.976,2.199l-7.166,35.826c-0.668,3.864-1.353,7.692-2.017,11.474
        c5.803-0.221,11.587-0.449,17.342-0.686l12.034-46.614H169.976z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M220.395,36.723V18.484h34.264V2.199h-54.066v45.643c17.622-0.798,34.998-1.67,52.112-2.613
        v-8.506H220.395z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M287.881,25.389c0-4.43,4.169-8.469,12.768-8.469c8.466,0,14.851,2.477,18.238,4.17
        l4.43-15.895c-5.211-2.475-12.377-4.43-22.408-4.43c-20.584,0-33.221,11.334-33.221,26.316c0,6.902,2.781,12.412,7.583,16.852
        c12.516-0.746,24.882-1.531,37.091-2.354c-2.418-1.329-5.139-2.554-8.195-3.684C292.701,33.467,287.881,30.99,287.881,25.389z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M379.079,0.766c-23.491,0-39.629,16.318-42.325,39.109
        c7.087-0.515,14.112-1.044,21.084-1.585c2.107-12.552,9.337-21.76,20.722-21.76c10.367,0,17.139,7.784,19.812,18.414
        c7.091-0.621,14.121-1.254,21.072-1.902C415.285,14.569,401.372,0.766,379.079,0.766z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M463.894,2.199h-26.447l-1.869,29.3c5.865-0.573,11.679-1.156,17.438-1.748
        c0.115-3.211,0.226-6.384,0.326-9.443h0.262c0.578,3.026,1.201,6.106,1.856,9.191c5.351-0.554,10.658-1.116,15.914-1.687
        L463.894,2.199z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M498.026,2.199l-7.438,23.466c5.22-0.599,10.39-1.207,15.507-1.822
        c0.313-1.188,0.624-2.371,0.922-3.534h0.26c0,1.134,0.007,2.261,0.013,3.39c6.014-0.726,11.956-1.463,17.824-2.211l-1.03-19.288
        H498.026z"/>
      <path opacity="0.3" fill="#FFFFFF" d="M598.214,2.199h-54.066v16.79c18.867-2.551,36.905-5.218,54.066-7.992V2.199z"/>
    </g>
  </symbol>

  <symbol id="microphone" viewBox="0 0 16 16">
    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
    <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
  </symbol>

  <symbol id="lightbulb" viewBox="0 0 16 16">
    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
  </symbol>

  <symbol id="tv" viewBox="0 0 16 16">
    <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
  </symbol>

  <symbol id="globe" viewBox="0 0 16 16">
    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/>
  </symbol>

  <symbol id="hdd-network" viewBox="0 0 16 16">
    <path d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8.5v3a1.5 1.5 0 0 1 1.5 1.5h5.5a.5.5 0 0 1 0 1H10A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5H.5a.5.5 0 0 1 0-1H6A1.5 1.5 0 0 1 7.5 10V7H2a2 2 0 0 1-2-2V4zm1 0v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1zm6 7.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5z"/>
  </symbol>

  <symbol id="wifi" viewBox="0 0 16 16">
    <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.444 12.444 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049z"/>
    <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.455 9.455 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091l.016-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"/>
  </symbol>

  <symbol id="router" viewBox="0 0 16 16">
    <path d="M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
    <path d="M16 11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9.51c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198V11zM3.655 4.26 1.592 8.043C1.724 8.014 1.86 8 2 8h12c.14 0 .276.014.408.042L12.345 4.26a.5.5 0 0 0-.439-.26H4.094a.5.5 0 0 0-.44.26zM1 10v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
  </symbol>

  <symbol id="up-down-arrows" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
  </symbol>

  <symbol id="vcr" viewBox="0 0 16 16">
    <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"/>
  </symbol>

  <symbol id="controller" viewBox="0 0 16 16">
    <path d="M11.5 6.027a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm-6.5-3h1v1h1v1h-1v1h-1v-1h-1v-1h1v-1z"/>
    <path d="M3.051 3.26a.5.5 0 0 1 .354-.613l1.932-.518a.5.5 0 0 1 .62.39c.655-.079 1.35-.117 2.043-.117.72 0 1.443.041 2.12.126a.5.5 0 0 1 .622-.399l1.932.518a.5.5 0 0 1 .306.729c.14.09.266.19.373.297.408.408.78 1.05 1.095 1.772.32.733.599 1.591.805 2.466.206.875.34 1.78.364 2.606.024.816-.059 1.602-.328 2.21a1.42 1.42 0 0 1-1.445.83c-.636-.067-1.115-.394-1.513-.773-.245-.232-.496-.526-.739-.808-.126-.148-.25-.292-.368-.423-.728-.804-1.597-1.527-3.224-1.527-1.627 0-2.496.723-3.224 1.527-.119.131-.242.275-.368.423-.243.282-.494.575-.739.808-.398.38-.877.706-1.513.773a1.42 1.42 0 0 1-1.445-.83c-.27-.608-.352-1.395-.329-2.21.024-.826.16-1.73.365-2.606.206-.875.486-1.733.805-2.466.315-.722.687-1.364 1.094-1.772a2.34 2.34 0 0 1 .433-.335.504.504 0 0 1-.028-.079zm2.036.412c-.877.185-1.469.443-1.733.708-.276.276-.587.783-.885 1.465a13.748 13.748 0 0 0-.748 2.295 12.351 12.351 0 0 0-.339 2.406c-.022.755.062 1.368.243 1.776a.42.42 0 0 0 .426.24c.327-.034.61-.199.929-.502.212-.202.4-.423.615-.674.133-.156.276-.323.44-.504C4.861 9.969 5.978 9.027 8 9.027s3.139.942 3.965 1.855c.164.181.307.348.44.504.214.251.403.472.615.674.318.303.601.468.929.503a.42.42 0 0 0 .426-.241c.18-.408.265-1.02.243-1.776a12.354 12.354 0 0 0-.339-2.406 13.753 13.753 0 0 0-.748-2.295c-.298-.682-.61-1.19-.885-1.465-.264-.265-.856-.523-1.733-.708-.85-.179-1.877-.27-2.913-.27-1.036 0-2.063.091-2.913.27z"/>
  </symbol>

  <symbol id="skip-backward" viewBox="0 0 16 16">
    <path d="M.5 3.5A.5.5 0 0 1 1 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm7 1.133L1.696 8 7.5 11.367V4.633zm7.5 0L9.196 8 15 11.367V4.633z"/>
  </symbol>

  <symbol id="play" viewBox="0 0 16 16">
    <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
  </symbol>

  <symbol id="stop" viewBox="0 0 16 16">
    <path d="M3.5 5A1.5 1.5 0 0 1 5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5zM5 4.5a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5H5z"/>
  </symbol>

  <symbol id="skip-forward" viewBox="0 0 16 16">
    <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.752l-6.267 3.636c-.52.302-1.233-.043-1.233-.696v-2.94l-6.267 3.636C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696L7.5 7.248v-2.94c0-.653.713-.998 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5zM1 4.633v6.734L6.804 8 1 4.633zm7.5 0v6.734L14.304 8 8.5 4.633z"/>
  </symbol>

  <symbol id="speaker" viewBox="0 0 16 16">
    <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
    <path d="M8 4.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5zM8 6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 3a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-3.5 1.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
  </symbol>

  <symbol id="toggles2" viewBox="0 0 16 16">
    <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
    <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
    <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
  </symbol>

  <symbol id="pause" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
  </symbol>

  <symbol id="play2" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
  </symbol>

  <symbol id="remove" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
  </symbol>

  <symbol id="file-plus" viewBox="0 0 16 16">
    <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
  </symbol>

  <symbol id="folder" viewBox="0 0 16 16">
    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
  </symbol>

  <symbol id="file-play" viewBox="0 0 16 16">
    <path d="M6 6.883v4.234a.5.5 0 0 0 .757.429l3.528-2.117a.5.5 0 0 0 0-.858L6.757 6.454a.5.5 0 0 0-.757.43z"/>
    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
  </symbol>

  <symbol id="backspace" viewBox="0 0 16 16">
    <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
    <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
  </symbol>

  <symbol id="pause2" viewBox="0 0 16 16">
    <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
  </symbol>

  <symbol id="chevron-bar-down" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M3.646 4.146a.5.5 0 0 1 .708 0L8 7.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zM1 11.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
  </symbol>

  <symbol id="chevron-bar-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M3.646 11.854a.5.5 0 0 0 .708 0L8 8.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM2.4 5.2c0 .22.18.4.4.4h10.4a.4.4 0 0 0 0-.8H2.8a.4.4 0 0 0-.4.4z"/>
  </symbol>

  <symbol id="fullscreen" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
  </symbol>

  <symbol id="box-arrow-in-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
  </symbol>

  <symbol id="record" viewBox="0 0 16 16">
    <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
  </symbol>

  <symbol id="power" viewBox="0 0 16 16">
    <path d="M7.5 1v7h1V1h-1z"/>
    <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
  </symbol>

  <symbol id="mute" viewBox="0 0 16 16">
    <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zM6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96V5.04zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"/>
  </symbol>

  <symbol id="forward" viewBox="0 0 16 16">
    <path d="M9.502 5.513a.144.144 0 0 0-.202.134V6.65a.5.5 0 0 1-.5.5H2.5v2.9h6.3a.5.5 0 0 1 .5.5v1.003c0 .108.11.176.202.134l3.984-2.933a.51.51 0 0 1 .042-.028.147.147 0 0 0 0-.252.51.51 0 0 1-.042-.028L9.502 5.513zM8.3 5.647a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.503H2a.5.5 0 0 1-.5-.5v-3.9a.5.5 0 0 1 .5-.5h6.3v-.503z"/>
  </symbol>

  <symbol id="skip-start" viewBox="0 0 16 16">
    <path d="M4 4a.5.5 0 0 1 1 0v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L5 8.752V12a.5.5 0 0 1-1 0V4zm7.5.633L5.696 8l5.804 3.367V4.633z"/>
  </symbol>

  <symbol id="skip-end" viewBox="0 0 16 16">
    <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.713 3.31 4 3.655 4 4.308v7.384c0 .653.713.998 1.233.696L11.5 8.752V12a.5.5 0 0 0 1 0V4zM5 4.633 10.804 8 5 11.367V4.633z"/>
  </symbol>

  <symbol id="eject" viewBox="0 0 16 16">
    <path d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H1.656C.78 9.5.326 8.455.926 7.816L7.27 1.047zM14.346 8.5 8 1.731 1.654 8.5h12.692zM.5 11.5a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-13a1 1 0 0 1-1-1v-1zm14 0h-13v1h13v-1z"/>
  </symbol>

  <symbol id="heart" viewBox="0 0 16 16">
    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
  </symbol>
</svg>
</template>
