<template>
  <div class="container py-5">
    <div class="row mb-2">
      <div class="col-md-6" v-for="movie in movies" :key="movie.id" :movie="movie">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ movie.genre.join() }}</strong>
            <h3 class="mb-0">{{ movie.title }}</h3>
            <div class="mb-1 text-muted">{{ movie.year }}</div>
            <p class="card-text mb-auto">{{ movie.plot }}</p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img :src="movie.poster" style="height: 250px; max-width: 200px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      movies: []
    }
  },
  created () {
    this.$api.get('movies').then((movies) => {
      this.movies = movies
    });
  }
}
</script>
