<template>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Python Function</th>
        <th scope="col">Keywords</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>

        <tr v-for="func in functions" :key="func.id" :func="func">
            <th scope="row">
                {{ func.id }}
            </th>
            <td>
                <h3>{{ func.comment }}</h3>
                <p>{{ func.fullMethod }}</p>
            </td>
            <td>
                {{ func.keywords.join(', ') }}
            </td>
            <td>
                {{ func.created_at }}
            </td>
        </tr>

    </tbody>
  </table>
</template>

<script>
export default {
  data: function () {
    return {
      functions: []
    }
  },
  created () {
    // get json
    Promise.all([fetch('http://api.server.home/api/voice/functions')])
      .then(async ([functions]) => {
        const records = await functions.json()

        for (var index in records) {
          const func = records[index]

          let fullMethod = '';

          fullMethod += func.module ? (func.module + '.') : ''
          fullMethod += func.class ? (func.class + '.') : ''
          fullMethod += func.function
          fullMethod += func.arg1 ? ("('" + func.arg1 + "'") : '('
          fullMethod += func.arg2 ? (", '" + func.arg1 + "')") : ')'

          records[index].fullMethod = fullMethod
        }

        this.functions = records
      })
      .catch((err) => {
        console.log('ene error', err)
      })
  }
}
</script>
