<template>
   <tr>
        <th scope="row">
            {{ func.id }}
        </th>
        <td>
            <h3>{{ func.title }}</h3>
        </td>
        <td>
            {{ func.created_at }}
        </td>
    </tr>
</template>

<script>
export default {
  props: {
    func: Object
  }
}
</script>
