<template>
    <div class="container py-5" id="latest-news">
    <h2 class="pb-2 border-bottom">Het laatste nieuws</h2>

    <div class="row row-cols-3 align-items-stretch py-5">
        {foreach $news_feed as $news}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{$news->enclosure->attributes()->url}');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-4">
                <a href="{$news->link}" style="color: white; text-decoration: none;">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{$news->title}</h2>
                </a>
                <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                    <img src="https://assets.nos.nl/apple-touch-icon.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>

                <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                    <small>{$news->pubDate}</small>
                </li>
                </ul>
            </div>
            </div>
        </div>
        {/foreach}
    </div>
    </div>
</template>
