<template>
  <div :class="'block ' + classNames">
      <a href="#">
          <svg class="bi" width="100%">
            <use :xlink:href="icon"/>
          </svg>
          <h3>{{ device.name }}</h3>
          <p>{{ device.mac }}</p>
          <div>{{ device.ip }}</div>
      </a>
  </div>
</template>

<script>
export default {
  props: {
    device: Object,
    classNames: {
      Type: String,
      default: ''
    },
    icon: {
      Type: String,
      default: '#globe'
    }
  }
}
</script>
