<template>
    <div class="container py-5" id="network-devices">
        <h2 class="pb-2 border-bottom">Netwerk apparaten</h2>

        <div class="device-container">
            <div class="loading" v-if="devices.length === 0">
                Loading...<br>
                <small>(Contacting router)</small>
            </div>

            <div v-if="devices.length > 0">
                <div class="large-left-side">
                    <div id="internet_iface">
                        <NetworkDevice :device="modemDevice"></NetworkDevice>
                        <NetworkDevice :device="routerDev" classNames="router" icon="#router"></NetworkDevice>
                    </div>

                    <svg class="left-right-arrows" width="20px"><use xlink:href="#up-down-arrows"/></svg>
                    <svg class="up-down-arrows" width="20px"><use xlink:href="#up-down-arrows"/></svg>
                </div>

                <div class="devices">
                    <div id="ethernet">
                        <NetworkDevice v-for="dev in devices" :key="dev.ip" :device="dev"></NetworkDevice>
                    </div>
                    <div id="wireless"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NetworkDevice from './NetworkDevice.vue'

export default {
  components: {
    NetworkDevice
  },
  data: function () {
    return {
      devices: [],
      // gets filled via json call
      modemDevice: {
        name: 'Internet',
        ip: '?.?.?.?',
        mac: '..:..:..:..:..:..',
        icon: '#globe'
      },
      // is hardcoded
      routerDev: {
        name: 'Router',
        ip: '10.0.0.1',
        url: 'http://router.home',
        mac: '38:2C:4A:65:23:30',
        icon: '#router'
      }
    }
  },
  created: function () {
    function findIndex (devices, findKey = 'device', findValue = 'vlan2') {
      let foundDeviceIndex = false

      for (let [index, d] of devices.entries()) {
        if (typeof (d[findKey]) === 'undefined') {
          console.log('bestaat niet', findKey, d)
        }

        if (d[findKey] === findValue) {
          foundDeviceIndex = index
        }

        return foundDeviceIndex
      }
    }

    // merge arrays into one but there are rules
    function merge (base, add) {
      for (const d of add) {
        // add to base if ip isnt inthere
        // console.log('d', d)
        if (findIndex(base, 'ip', d['ip']) === false) {
          // console.log('d[ip] wasnt in base!', d['ip'], base)
          base.push(d)
        }
      }

      return base
    }

    // get json, process via above functions and place in vuejs data()
    Promise.all([
      fetch('http://10.0.0.1:808?getArp'),
      fetch('http://10.0.0.1:808?getDhcpLeases'),
      fetch('http://10.0.0.1:808?getWirelessClients')
    ]).then(async ([arp, dhcp, wlan]) => {
      // merge recieved json files into desired result we want to show on the page
      let mergedDevices = await arp.json()
      mergedDevices = merge(mergedDevices, await dhcp.json())
      mergedDevices = merge(mergedDevices, await wlan.json())

      // internet device
      const modemIndex = findIndex(mergedDevices, 'device', 'vlan2')
      this.modemDevice = mergedDevices[modemIndex]
      this.modemDevice.name = 'Internet'
      mergedDevices.splice(modemIndex, 1)

      this.devices = mergedDevices
    }).catch((err) => {
      console.log('ene error', err)
    })
  }
}
</script>
