<template>

    <!-- Single actions, bedien je apparatem -->
    <div class="container py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Bedien je apparaten</h2>

        <div class="row row-cols-4 g-4 py-5">
            <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#lightbulb"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Gang licht</h4>
                <p>Zet de lamp op de gang aan of uit via Zwave.</p>

                <button type="button" class="btn btn-primary me-2" data-zway-device="ZWayVDev_zway_3-0-37">Aan</button>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tv"/></svg>
            <div>
                <h4 class="fw-bold mb-0">
                {if $is_tv_powered_on}Zet de TV uit{/if}
                {if !$is_tv_powered_on}Zet de TV aan{/if}
                </h4>
                <p>Zet de TV aan of uit via infrarood. Momenteel staat de tv {if $is_tv_powered_on}aan{else}uit{/if}.</p>

                <a class="btn btn-outline-primary me-2" data-remote="Samsung_AA59-00786A" data-key="KEY_POWER" onclick="(this.innerText == 'Zet uit') ? this.innerText = 'Zet aan' : this.innerText = 'Zet uit'">
                Zet {if !$is_tv_powered_on}aan{else}uit{/if}
                </a>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#vcr"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Videorecorder aan/uit</h4>
                <p>Zet de videorecorder aan of uit via infrarood.</p>
                <a class="btn btn-primary me-2" data-remote="vr6000" data-key="KEY_SLEEP">Aan / Uit</a>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#controller"/></svg>
            <div>
                <h4 class="fw-bold mb-0">
                {if $playstation_running}Zet de PS4 uit{/if}
                {if !$playstation_running}Zet de PS4 aan{/if}
                </h4>
                <p>Zet de playstation aan of uit. Hij staat momenteel {if $playstation_running}aan{else}uit{/if}.</p>

                <a class="btn btn-outline-primary me-2 {if !$playstation_running}hidden{/if}" id="ps4-power-off">Uit</a>
                <a class="btn btn-primary me-2 {if $playstation_running}hidden{/if}" id="ps4-power-on">Aan</a>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#skip-backward"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Terugspoelen VCR</h4>
                <p>Spoel de videoband in de videorecorder terug.</p>

                <button type="button" class="btn btn-primary me-2" data-remote="vr6000" data-key="KEY_REWIND">Rewind</button>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#stop"/></svg>
            <div>
                <h4 class="fw-bold mb-0">VCR Stoppen</h4>
                <p>Stop met het afspelen van de videorecorder.</p>

                <button type="button" class="btn btn-primary me-2" data-remote="vr6000" data-key="KEY_STOP">Stop</button>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#play"/></svg>
            <div>
                <h4 class="fw-bold mb-0">VCR Afspelen</h4>
                <p>Speel de videoband in de videorecorder af.</p>

                <button type="button" class="btn btn-primary me-2" data-remote="vr6000" data-key="KEY_PLAY">Play</button>
            </div>
            </div>
            <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#skip-forward"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Vooruitspoelen VCR</h4>
                <p>Spoel de videoband in de videorecorder vooruit.</p>

                <button type="button" class="btn btn-primary me-2" data-remote="vr6000" data-key="KEY_FORWARD">Forward</button>
            </div>
            </div>
        </div>
    </div>
</template>
