<template>
  <div>
    <TopInfo></TopInfo>
    <div class="b-example-divider"></div>

    <SingleActions></SingleActions>
    <div class="b-example-divider"></div>

    <NetworkInfo></NetworkInfo>
    <div class="b-example-divider"></div>

    <MassActions></MassActions>
    <div class="b-example-divider"></div>

    <LatestNews></LatestNews>
    <div class="b-example-divider"></div>
  </div>
</template>

<script>
import TopInfo from '../components/home/TopInfo.vue'
import SingleActions from '../components/home/SingleActions.vue'
import MassActions from '../components/home/MassActions.vue'
import NetworkInfo from '../components/home/NetworkInfo.vue'
import LatestNews from '../components/home/LatestNews.vue'

export default {
  name: 'HomePage',
  components: {
    TopInfo,
    SingleActions,
    MassActions,
    NetworkInfo,
    LatestNews
  }
}
</script>
