<template>
  <div>
    <OverviewList></OverviewList>
  </div>
</template>

<script>
import OverviewList from '../components/movies/OverviewList.vue'

export default {
  name: 'MoviesPage',
  components: {
    OverviewList
  }
}
</script>
