<template>
  <div class="container py-5">
    <router-link :to="{ name: 'VoiceFunctionCreatePage' }" type="button" class="btn btn-primary">Add function</router-link>

    <FunctionsTable></FunctionsTable>
  </div>
</template>

<script>
import FunctionsTable from '../components/voice/FunctionsTable.vue'

export default {
  name: 'VoiceFunctionsPage',
  components: {
    FunctionsTable
  }
}
</script>
