<template>
  <div class="container py-5">
    <form @submit="onSubmit">
      <h3>Create voice command</h3>

      <div class="input-group mb-3">
        <input type="text" class="form-control" v-model="description" name="description" placeholder="Description">
      </div>

      <strong>Function</strong>
      <div class="input-group mb-3">
        <input type="text" class="form-control" style="width: 140px; flex: none;" v-model="module" name="module" placeholder="module">
        <span class="input-group-text">.</span>
        <input type="text" class="form-control" style="width: 140px; flex: none;" v-model="PythonClass" name="class" placeholder="class">
        <span class="input-group-text">().</span>
        <input type="text" class="form-control" style="width: 140px; flex: none;" v-model="PythonFunction" name="function" placeholder="function">

        <span class="input-group-text" style="margin-top: 5px;">(</span>
        <input type="text" class="form-control" style="margin-top: 5px;" v-model="arg1" name="arg1" placeholder="arg1">
        <span class="input-group-text" style="margin-top: 5px;">,</span>
        <input type="text" class="form-control" style="margin-top: 5px;" v-model="arg2" name="arg2" placeholder="arg2">
        <span class="input-group-text" style="margin-top: 5px;">)</span>
      </div>

      <strong>Keywords that are listened for</strong><br>
      <input type="text" v-model="keywords" name="keywords" data-role="tagsinput" />
    
      <div style="margin-top: 20px;">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="submit" class="btn btn-primary" style="float: right;">Save</button>
      </div>
    </form>
  </div>
</template>

<script>

export default {
  name: 'VoiceFunctionCreatePage',
  data () {
    return {
      description: '',
      PythonModule: '',
      PythonClass: '',
      PythonFunction: '',
      arg1: '',
      arg2: '',
      keywords: '',
      voice: [],
    }
  },
  methods : {
    onSubmit() {
      this.$api.post('voice').then((voice) => {
        this.voice = voice
      });
    }
  }
}
</script>
