<template>
  <div id="app" style="width: 100%; height: 100%;">
    <component :is="this.$route.meta.layout || 'div'">
      <router-view />
    </component>
  </div>
</template>

<script>
export default {
  name: 'App',
  created() {
    const token = localStorage.getItem('token')

    if(!token) {
      this.$router.push({ name: 'LoginPage' })
    }
  }
}
</script>
