html, body {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input[type='checkbox'] {
  cursor: pointer;
}

.table-hover > tbody > tr:hover {
  --bs-table-accent-bg: none;
  background-color: var(--bs-table-hover-bg);
}

.navbar-nav {
  margin-left: 30px;
}

.dot {
  border-radius: 10px;
  width: 15px;
  height: 15px;
  margin-top: 6px;
  float: left;
  margin-right: 10px;
  background-color: #198754;
}

.dot.danger {
  background-color: #D22B2B;
}

.hidden {
  display: none;
}

.alert-container {
  position: fixed;
  top: 10px;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
}

  .alert {
    text-align: center;
  }

@media only screen and (max-width: 600px) {
  .alert-container {
    width: 90%;
  }

    .alert {
      text-align: center;
    }
}

.progress {
  position: relative;
  height: 38px;
}

  .progress .progress-text {
    position: absolute;
    left: 0px;
    top: 9px;
    width: 100%;
    text-align: center;
  }


.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 15px;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}


.custom-file-label::after {
  content: "Browse";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(calc(2.25rem + 2px) - 1px * 2);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border-left: 1px solid #ced4da;
  border-radius: 0 .25rem .25rem 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.bootstrap-tagsinput {
  line-height: 33px;
  width: 100%;
}

.bootstrap-tagsinput .tag {
  background-color: #0d6efd;
  border-radius: 3px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px;
  margin-right: 0px;
  font-size: 14px;
  float: left;
}


.media-file-detail-table td:nth-child(1) {
  width: 150px;
}

.table-hover td {
  cursor: pointer;
}

.table-hover td a {
  text-decoration: none;
}

#voice-commands-page .table tbody td:nth-child(3) {
  width: 30%;
}

#voice-commands-page .table tbody td:nth-child(4) {
  width: 15%;
}
#voice-commands-page .table tbody td:nth-child(5) {
  width: 15%;
}


@media only screen and (max-width: 1000px) {
  #voice-commands-page .table thead th:nth-child(1),
  #voice-commands-page .table thead th:nth-child(3),
  #voice-commands-page .table thead th:nth-child(4) {
    display: none;
  }

  #voice-commands-page .table tbody td {
    width: 100% !important;
    float: left;
  }

  #voice-commands-page .table tbody td:nth-child(3):before {
    content: "Keywords: ";
    color: gray;
    font-size: 12px;
    width: 100%;
    float: left;
  }
  #voice-commands-page .table tbody td:nth-child(2) {
    border: none;
  }
  #voice-commands-page .table tbody td:nth-child(2) p {
    margin-bottom: 0px;
  }
  #voice-commands-page .table tbody th,
  #voice-commands-page .table tbody td:nth-child(4) {
    display: none;
  }
}

.custom-modal-footer {
  float: left;
  width: 100%;
  padding-left: 6px;
  padding-right: 16px;
  margin-bottom: 16px;
}

  .custom-modal-footer button {
    float: right;
    margin-left: 10px;
  }

.icon-link {
  text-decoration: none;
}



.infrared-remote-table {
  width: 32%;
  display: inline-block;
  margin-right: 1%;
}

  .infrared-remote-table thead, .infrared-remote-table thead tr, .infrared-remote-table thead tr th,
  .infrared-remote-table tbody, .infrared-remote-table tbody tr, .infrared-remote-table tbody tr td {
    display: block;
    width: 100%;
  }

.infrared-remote-table td a {
  color: #212529;
  text-decoration: none;
  width: 100%;
  display: block;
}



@media only screen and (max-width: 1000px) {
  .infrared-remote-table {
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .infrared-remote-table {
    width: 100%;
  }
}

.bg-light {
  background-color: #00000014 !important;
}

.device-container {
  overflow: hidden;
  margin-top: 30px;
}

  .device-container .large-left-side {
    width: 100%;
    float: left;
    position: relative;
  }

  .device-container .large-left-side .block {
    margin-left: 0px;
    margin-right: 50px;
  }

  .device-container .large-left-side .block.router {
    width: 110px;
    margin-top: 36px;
    margin-left: 50px;
    margin-right: 0px;
  }


    .device-container .large-left-side .block div,
    .device-container .large-left-side .block h3,
    .device-container .large-left-side .block p {
      text-align: center;
      margin-bottom: 0px;
    }

    .device-container .large-left-side .block svg {
      margin-top: 22px;
      margin-bottom: -22px;
    }

    .device-container .large-left-side .router svg {
      margin-bottom: -35px;
      margin-top: 0px;
    }

  .device-container .devices {
    margin-top: 5px;
    margin-left: 0px;
    width: 100%;
    float: left;
    position: relative;
  }

    .device-container .block {
      flex: 0 0 auto;
      display: flex;
      margin-left: 25px;
      margin-right: 25px;
      width: 70px;
    }
    
    .device-container .large-left-side .block:nth-child(1) {
      margin-left: 0px;
    }

      .device-container .block p {
        font-size: 13.3px;
      }
      
      .device-container .block strong {
        font-size: 14px;
      }

      .device-container .block h3 {
        font-weight: 500;
      }

      .device-container .devices .block div,
      .device-container .devices .block h3,
      .device-container .devices .block p {
        width: 100px;
        margin: 0px;
        transform: translateX(-15px);
        text-align: center;
      }

      .device-container .block a {
        color: black;
        text-decoration: none;
      }

      .device-container .devices .block svg {
        width: 70px;
      }

      .device-container .devices .block #ethernet {
        margin-top: -18px;
      }

    .device-container #wireless {
      margin-top: 43px;
      display: inline;
    }

    .device-container .block.medium {
      width: 70px;
    }


      .device-container .devices .block h3 {
        font-size: 14px;
      }

      .device-container .devices .block p {
        font-size: 10px;
      }

    .device-container .block.small {
      width: 50px;
    }

    .device-container .devices svg {
      margin-bottom: -40px;
    }
    .device-container .block.small svg {
      margin-bottom: -50px;
    }


  #network-devices .large-left-side #internet_iface,
  #network-devices .devices #ethernet,
  #network-devices .devices #wireless {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0px;
  }

.device-container .up-down-arrows {
  position: absolute;
  left: calc(50% + 80px);
  right: unset;
  width: 15px;
  top: 175px;
}

.device-container .left-right-arrows {
  transform: rotate(90deg);
  top: 40px;
  left: calc(50% - 22px);
  position: absolute;
  width: 25px;
}


.listen-status {
  width: 146px;
  display:inline-block;
  font-weight:400;
  line-height:1.5;
  text-align:center;
  text-decoration:none;
  vertical-align:middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  background-color:transparent;
  border:1px solid transparent;
  padding:.375rem .75rem;
  font-size:1rem;
  border-radius:.25rem;
  color: #00b800;
  border-color: #00b800;
  margin-right: 10px;
}

  .listen-status.transparant {
    opacity: 0.4;
  }

  .listen-status.yellow {
    color: yellow;
    border-color: yellow;
    cursor: pointer;
  }

  .listen-status.red {
    color: #D2222D;
    border-color: #D2222D;
    cursor: pointer;
  }

/* resize news and icon grid */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #icon-grid .col {
    width: 100%;
  }

  #latest-news .col {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 600px) {
  #icon-grid .col {
    width: 50%;
  }

  #latest-news .col {
    width: 100%;
    margin-bottom: 50px;
  }

  #latest-news .col:nth-last-child(1) {
    display: none;
  }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #icon-grid .col {
    width: 33%;
  }
}

@media only screen and (min-width: 900px) {
  #latest-news .col {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #icon-grid .col {
    width: 25%;
  }
  
  #latest-news .col {
    width: 33.3%
  }
  
  #latest-news .col:nth-last-child(1) {
    display: block;
  }
}


.diskspace-table tr td:nth-child(1) {
  width: 160px;
}

.diskspace-table tr td:nth-child(2),
.diskspace-table tr td:nth-child(3),
.diskspace-table tr td:nth-child(4) {
  width: 130px;
}

.diskspace-table tr td .progress {
  height: 24px;
}

.diskspace-table tr td .progress .progress-text {
  top: 2px;
}

@media only screen and (max-width: 600px) {
  .diskspace-table thead {
    display: none;
  }

  .diskspace-table tr {
    border-bottom: 1px solid #dee2e6;
  }
  
  .diskspace-table tr td {
    float: left;
    border: none;
  }

  .diskspace-table tr td:nth-child(1),
  .diskspace-table tr td:nth-child(2),
  .diskspace-table tr td:nth-child(3) {
    border: none;
  }

  .diskspace-table tr td:nth-child(1) {
    width: 35%;
  }

  .diskspace-table tr td:nth-child(2) {
    display: none;
  }

  .diskspace-table tr td:nth-child(3) {
    width: 32.5%;
  }

  .diskspace-table tr td:nth-child(4) {
    width: 32.5%;
  }

  .diskspace-table tr td:nth-child(4):after {
    content: ' vrij';
  }

  .diskspace-table tr td:nth-child(5) {
    width: 100%;
  }
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
  .diskspace-table thead tr th:nth-child(1),
  .diskspace-table tbody tr td:nth-child(1) {
    width: 150px;
  }
  
  .diskspace-table thead tr th:nth-child(2),
  .diskspace-table tbody tr td:nth-child(2) {
    display: none;
  }
}

.status-table tr td:nth-child(1) {
  width: 160px;
}

.status-table tbody tr td .dot {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.status-table tbody tr td span {
  margin-top: 4px;
  float: left;
  width: calc(100% - 35px);
}

@media only screen and (max-width: 600px) {  
  .status-table tr td {
    float: left;
    border: none;
  }
  
  .status-table tr {
    border-bottom: 1px solid #dee2e6;
  }

  .status-table tr td:nth-child(1) {
    float: right;
    width: 100px;
  }

  .status-table tr td:nth-child(2) {
    width: calc(100% - 100px);
  }

  .status-table tr td .btn-group {
    display: block;
    width: 100%;
  }

  .status-table tr td .btn-group .btn {
    border-radius: .2rem !important;
  }

  .status-table tr td .btn-group .btn:nth-child(1) {
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
  }

  .status-table tr td .btn-group .btn:nth-last-child(1) {
    margin: 0px;
    border-top: 0px;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
  }

  .status-table .btn {
    width: 100%;
  }

  #homepage-top-info .feature-icon {
    float: left;
    margin-right: 20px;
    margin-top: 7px;
    margin-bottom: 0px;
  }
}