<template>
  <div class="DefaultLayout">
    <SvgImages></SvgImages>
    <NavigationBar></NavigationBar>

    <main>
      <slot/>
    </main>
  </div>
</template>

<style>
  /* @import '../assets/styles/bootstrap-tagsinput.css'; */
  @import '../assets/styles/bootstrap.min.css';
  @import '../assets/styles/custom.css';
  @import '../assets/styles/features.css';
  @import '../assets/styles/infrared_remotes.css';
  @import '../assets/styles/media_pages.css';
  @import '../assets/styles/torrents.css';
</style>

<script>
  import 'bootstrap'

  import NavigationBar from './components/NavigationBar.vue'
  import SvgImages from './components/SvgImages.vue'

  export default {
    components: {
      NavigationBar,
      SvgImages
    }
  }
</script>
