<template>
  <div id="LoginLayout">
    <div class="login-center-box">
      <main class="form-signin">
        <form id="login_form" @submit.prevent="submit">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

          <div class="form-floating">
            <input type="text" v-model="form.email" name="username" id="username" class="form-control" placeholder="Useranme">
            <label for="floatingInput">E-mail</label>
          </div>

          <div class="form-floating">
            <input type="password" v-model="form.password" name="password" id="password" class="form-control" autocomplete="current-password" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div>

          <button class="w-100 btn btn-lg btn-primary" id="login_submit">Sign in</button>
          <p class="text-danger mt-2" v-show="incorrect_try">Incorrect login</p>
          <p class="mt-5 mb-3 text-muted">Home automation</p>
        </form>
      </main>
    </div>
  </div>
</template>

<style scoped>
  @import '../assets/styles/login.css';
</style>

<script>
  import 'bootstrap'

  export default {
    data: function () {
      return {
        incorrect_try: false,
        form: {
          email: '',
          password: '',
        }
      }
    },
    methods: {
      submit() {
        if(!this.form.email || !this.form.password) {
          console.log('missing input data')
          return false;
        }

        this.$api.post('login', this.form).then((response) => {
          if(response.success == false) {
            this.incorrect_try = true
          } else {
            localStorage.setItem('token', response.token);
            this.$router.push({ name: 'HomePage' })
          }
        })
      }
    }
  }
</script>
